div.view-post {
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    padding: 0.2rem;
}

div.view-post div.post-heading {
    display: flex;
}

div.view-post div.post-heading span.author {
    font-weight: bold;
    margin-right: 3rem;
}

div.view-post img.post-image {
    width: 100px;
    aspect-ratio: 1/1;
}